*
{
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
}

body,html
{
	height: 100%;
}

.parallax
{
	position: relative;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: contain;
	height: 100%;
	min-height: 768px;
}

.parallax-content
{
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 100%;
	text-align: center;
	min-height: 768px;
}

.jumbotron
{
	background: rgba(199,203,205,0.95);
	padding: 10px;
	margin: 0px;
}

.container
{
	padding: 0px;
	margin: 20pxpx;
}

.capital
{
	margin: 30px;
	padding: 0;
	font-size: 2.50em;
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
}

.paragraph-large
{
	font-size: 1.20em;
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
}

.paragraph-medium
{
	font-size: 1.10em;
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
}

.compressed
{
	width: 60%;
	margin: auto;
	padding-bottom: 30px;
}

.vertical-center
{
	margin-top: auto;
	margin-bottom: auto;
}

.horizontal-center
{
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.horizontal-line
{
	position: relative;
	width: 200px;
	margin: auto;
	border-color:rgba(50,50,50,0.3);
	padding-bottom: 20px;
}

.navbar
{
	overflow: hidden;
	border-radius: 0;
	background-color: white;
	box-shadow: 2px 2px 2px rgba(50,50,50,0.7);
}

.navbar-brand
{
	height: 70px;
}

.ing
{
	margin: auto;
	height: 400px;
	width: 300px;
	background-size: contain;
	background-repeat: no-repeat;
}

#ing-0
{
	background-image: url(../images/ing-0.jpg);
}

#ing-1
{
	background-image: url(../images/ing-1.jpg);
}

#main-container
{
	height: 100%;
}

#navigation-holder
{
	opacity: 0.0;
	position: fixed;
	z-index: 1;
}

@media(min-width:768px)
{
	.navbar-nav
	{
		margin-bottom: auto;
		margin-top: auto;
	}
	
	.row
	{
		padding-bottom: 40px;
		padding-top: 50px;
	}
	
	.list-element
	{
		height: 70px;
	}
	
	.desc-trans
	{
		position: absolute;
		bottom: 0;
		background: rgba(255,255,255,0.8);
		height: 0;
		width: 300px;
		transition: height;
		transition-duration: 1s;
		transition-delay: 0.3s;
		transform-style: preserve-3d;
		transition-timing-function:ease-in-out;
		overflow: hidden;
		font-size: 0.95em;
	}
	
	.hoverable
	{
		width: 300px;
		position: relative;
		padding: 15px;
	}
	
	.ing:hover ~ .desc-trans
	{
		height: 100%;
	}
}

@media(max-width:767px)
{
	
}